<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head><title>Change your password</title></head>
<body>
<div layout:fragment="content">
  <h1>Change your password</h1>
  <p>Use the form below to change your password.</p>
  <form method="post" th:action="@{/account/password-change/}" th:object="${form}">
    <div th:replace="~{fragments/forms :: field('oldPassword', 'Old password', 'password')}"></div>
    <div th:replace="~{fragments/forms :: field('newPassword1', 'New password', 'password')}"></div>
    <div th:replace="~{fragments/forms :: field('newPassword2', 'New password confirmation', 'password')}"></div>
    <p><input type="submit" value="Change"></p>
  </form>
</div>
</body>
</html>
