<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shop/base}">
<head><title th:text="#{cart.title}">Your shopping cart</title></head>
<body>
<div layout:fragment="content">
  <h1 th:text="#{cart.title}">Your shopping cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th th:text="#{cart.image}">Image</th><th th:text="#{cart.product}">Product</th><th th:text="#{quantity}">Quantity</th>
        <th th:text="#{cart.remove}">Remove</th><th th:text="#{cart.unit-price}">Unit price</th><th th:text="#{cart.price}">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="line : ${lines}" th:with="product=${line.product}">
        <td><a th:href="@{${product.absoluteUrl}}"><img th:src="@{${product.imageUrl}}"></a></td>
        <td th:text="${product.name}">name</td>
        <td>
          <form th:action="@{/cart/add/{id}/(id=${product.id})}" method="post">
            <select name="quantity">
              <option th:each="i : ${quantityChoices}" th:value="${i}" th:text="${i}" th:selected="${i == line.quantity}">1</option>
            </select>
            <input type="hidden" name="override" value="true">
            <input type="submit" th:value="#{cart.update}" value="Update">
          </form>
        </td>
        <td>
          <form th:action="@{/cart/remove/{id}/(id=${product.id})}" method="post">
            <input type="submit" th:value="#{cart.remove}" value="Remove">
          </form>
        </td>
        <td class="num" th:text="${#fmt.money(line.price)}">$0</td>
        <td class="num" th:text="${#fmt.money(line.totalPrice)}">$0</td>
      </tr>
      <th:block th:replace="~{fragments/money :: discountRows(${totals.subtotal}, ${totals.coupon}, ${totals.coupon?.discount}, ${totals.discount}, 4)}"></th:block>
      <tr class="total">
        <td th:text="#{cart.total}">Total</td>
        <td colspan="4"></td>
        <td class="num" th:text="${#fmt.money(totals.total)}">$0</td>
      </tr>
    </tbody>
  </table>

  <div th:replace="~{shop/recommendations :: recommendations(${recommendedProducts}, 'cart')}"></div>

  <p th:text="|#{cart.apply-coupon}:|">Apply a coupon:</p>
  <form th:action="@{/coupons/apply/}" method="post">
    <label for="code" th:text="|#{coupon.code}:|">Coupon:</label> <input type="text" name="code" id="code" required>
    <input type="submit" th:value="#{cart.apply}" value="Apply">
  </form>
  <p class="text-right">
    <a th:href="@{/}" class="button light" th:text="#{cart.continue}">Continue shopping</a>
    <a th:href="@{/orders/create/}" class="button" th:text="#{cart.checkout}">Checkout</a>
  </p>
</div>
</body>
</html>
