<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">
<head><title>Reset your password</title></head>
<body>
<div layout:fragment="content">
  <h1>Reset your password</h1>
  <th:block th:if="${validlink}">
    <p>Please enter your new password twice:</p>
    <form method="post" th:object="${form}">
      <!--/* 没写 action 时提交到当前 URL（带 uid 和 token）；需要手动加 CSRF 字段，因为没有 th:action */-->
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div th:replace="~{fragments/forms :: field('newPassword1', 'New password', 'password')}"></div>
      <div th:replace="~{fragments/forms :: field('newPassword2', 'New password confirmation', 'password')}"></div>
      <p><input type="submit" value="Change my password"></p>
    </form>
  </th:block>
  <p th:unless="${validlink}">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
</div>
</body>
</html>
